$black: #0a0a0a;
$white: #fefefe;
$solarized: #073642;
$almostblack: #202020;

body {
    font-size: 1.0em;
    line-height: 1.5;    
    background-color: $white;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 0;
    grid-template-areas: 
        "header"
        "nav"
        "tabs"
        "content"
        "footer";
}

body > header {
    grid-area: header;
    > ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        background-color: $almostblack;
        color: white;
        padding: 0 10px;
        margin-bottom: 5px;
    }
}

body > main {
    grid-area: content;
    background-color: $almostblack;
    color: white;
    padding: 1rem;
    > footer {
        text-align: right;
        color: #8a8a8a;
        > ul {
            list-style-type: none;
        }
    }
}
body > nav {
    grid-area: nav;
}
body > footer {
    grid-area: footer;
    text-align: center;
    font-size: 80%;
}

.stat {
    color: #8a8a8a;
}

body > header > ul > li > p {
    font-size: 120%;
    margin: 0;
}

.tabs {
    grid-area: tabs;
    //margin: 5px 0 0 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-self: end;
    display: flex;
    flex-direction: column;
    li {
        padding: 5px;
        margin: 0;
        float: left;  
        background-color: $black;
        &.is-active {
            background-color: $almostblack;
            a {
                color: $white;
            }
          }
        &:hover {
            background-color: $almostblack;
        }
    }
}

@media (min-width: 768px) {
    body {
      grid-template-columns: 300px 5fr;
      grid-auto-rows: minmax(0px, auto);
      grid-template-rows: minmax(0px, auto) minmax(0px, auto) minmax(0px, auto) min-content;
      grid-auto-flow: dense;
      grid-template-areas: 
        "nav    header"
        "nav    tabs"
        "nav    content"
        "nav    footer";
        > nav ul {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
        > header ul {
          display: flex;
          flex-direction: row;
        }   
    }
    .tabs {
      flex-direction: row;
      li {
          margin: 0 10px 0 0;
        }
    }
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
}

table {
    border-collapse: collapse;
}

.notification {
    position: fixed;
    top: 0em;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    overflow: hidden;
    background: #f9edbe;
    border-bottom: 1px solid #f0c36d;
}
.notification.anim {
    -webkit-transition: top 0.6s ease-out;  
    -moz-transition: top 0.6s ease-out;
    -ms-transition: top 0.6s ease-out;
    -o-transition: top 0.6s ease-out;
    transition: top 0.6s ease-out;
}
.notification.active {
    top: 0;
}
.notification .actions {
    margin-top: 0.5em;
}
.notification .btn {
    border: 1px solid #f0c36d;
    background: #f0c36d;
    color: #fff;
    display: inline-block;
    padding: 0.3em;
}

.notification .dismiss-btn {
    display: inline-block;
    margin-left: 1em;
}

@media all and (min-width: 50em) {
    .notification .msg {
        float: left;
        width: 70%;
    }
    .notification .actions {
        float: right;
        text-align: right;
        width: 30%;
        margin-top: -0.3em;
    }
}

.close-button {
    display: inline-block;
}

/*
$tabs-base-color: $almostblack;

.preview-tabs {
    width: 650px;  
    float: none;
    list-style: none;
    position: relative;
    margin: 80px 0 0 10px;
    text-align: left;
    li {
      float: left;
      display: block;
    }
    input[type="radio"] {
      position: absolute;
      top: 0;
      left: -9999px;
    }
    label {
      display: block;
      padding: 14px 21px;
      border-radius: 2px 2px 0 0;
      font-size: 20px;
      font-weight: normal;
      text-transform: uppercase;
      background: $tabs-base-color;
      cursor: pointer;
      position: relative;
      top: 4px; 
      &:hover {
        background: darken($tabs-base-color, 10);
      }
    }
    .tab-content{
      z-index: 2;
      display: none; 
      overflow: hidden;
      width: 100%;
      font-size: 17px;
      line-height: 25px;
      padding: 25px;  
      position: absolute;
      top: 53px;
      left: 0; 
      background: darken($tabs-base-color, 15);
    }
    //The Magic
    [id^="tab"]:checked + label { 
      top: 0;
      padding-top: 17px; 
      background: darken($tabs-base-color, 15); 
    }
    [id^="tab"]:checked ~ [id^="tab-content"] {
      display: block;
    }
}
*/

// Tab definition
.preview-tabs {
    
      position: relative;
      overflow: hidden;
      
      > label img {
        float: left;
        margin-left: 5px;
      }

    label {
        font-size: 20px;
        font-weight: normal;
        //text-transform: uppercase;
        background: $almostblack;
        cursor: pointer;
        &:hover {
            background: darken($almostblack, 10);
        }
    }

    [id^="tab"]:checked + label { 
        //top: 0;
        //padding-top: 17px; 
        border-bottom: 2px solid white;
        background: darken($almostblack, 15); 
    }    
    
    > .row {
        width: calc(100% + 2 * .6em);
        display: table;
        table-layout: fixed;
    
        position: relative;
        padding-left: 0;
        transition: all .3s;
        border-spacing: 0;
        margin: 0;
    
        &:before,
        &:after {
            display: none;
        }
    
        > *,
        img {
            display: table-cell;
            vertical-align: top;
            margin: 0;
            width: 100%;
        }
    }
    
      > input {
        display: none;
    
        + * {
          width: 100%;
          }
    
        + label {
          width: auto;
          }
        }
    
    
    
      &.two {
        > .row {
          width: 200%;
          left: -100%;
        }
    
        > input:nth-of-type(1):checked ~ .row {
          margin-left: 100%;
        }
        
        > label img {
          width: 48%;
          margin: 4% 0 4% 4%;
        }
      }
    
      &.three {
        > .row {
          width: 300%;
          left: -200%;
        }
    
        > input:nth-of-type(1):checked ~ .row {
          margin-left: 200%;
        }
    
        > input:nth-of-type(2):checked ~ .row {
          margin-left: 100%;
        }
        
        > label img {
          width: 30%;
          margin: 5% 0 5% 5%;
        }
      }
    
      &.four {
        > .row {
          width: 400%;
          left: -300%;
          }
    
        > input:nth-of-type(1):checked ~ .row {
          margin-left: 300%;
          }
    
        > input:nth-of-type(2):checked ~ .row {
          margin-left: 200%;
          }
    
        > input:nth-of-type(3):checked ~ .row {
          margin-left: 100%;
        }
          
        > label img {
          width: 22%;
          margin: 4% 0 4% 4%;
        }
      }
      
        
      >label:first-of-type img {
        margin-left: 0;
      }
}

/*
@media (min-width: 700px) {
  body {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "nav header  header"
      "nav    content content"
      "nav    content content"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}
*/