.DS_Store
.directory
bower_components/**
node_modules/**
http.log
wiki
data/**
rice-box.go
npm-debug.log
tests/gowiki-testdata/**
scss/bower_components/**
scss/node_modules/**
vendor/*/
.sass-cache/*
tests/data/**
*_vfsdata.go
debbuild/gowiki
debbuild/debian/debhelper-build-stamp
debbuild/debian/gowiki.debhelper.log
debbuild/debian/gowiki.postinst.debhelper
debbuild/debian/gowiki.postrm.debhelper
debbuild/debian/gowiki.prerm.debhelper
debbuild/debian/gowiki.substvars
debbuild/debian/gowiki/**
