# This is meant to go in ~/.config/systemd/user/golang@.service
# For use in systemd versions >=232, for the ProtectSystem=strict option

[Unit]
Description=Golang %i daemon
After=systemd-user-sessions.service nginx.service network-online.target
Requires=network-online.target

[Service]
ProtectSystem=strict
ReadWritePaths=%h/%i /home/golang/data/%i
WorkingDirectory=%h/%i
ExecStart=%h/%i/%i --DataDir=/home/golang/data/%i
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=default.target