[Unit]
Description=Golang %i daemon
After=systemd-user-sessions.service network-online.target nginx.service
Requires=network-online.target

[Service]
WorkingDirectory=/home/golang/%i
ExecStart=/bin/bash -c '/home/golang/%i/%i'
User=golang
Restart=on-failure

[Install]
WantedBy=default.target