{{ define "title" }}Admin User Panel{{ end }}

{{ define "content" }}

  <main>
  <ul class="tabs">
    <li class="tabs-title"><a href="/admin/">{{ svg "user-tie" }} Main</a></li>
    <li class="tabs-title is-active"><a href="#">{{ svg "users" }} Manage Users</a></li>
    <li class="tabs-title"><a href="/admin/git">{{ svg "git-square" }} Manage Git</a></li>
  </ul>  
  <article>
        <h1>Editing User {{.User}}</h1>
        <br>
        <form method="post" action="/admin/user" id="user">
        {{.Token}}
        <select name="user">
        User: {{range .Users }}
        <option value="{{.}}">{{.}}</option>
        {{ end }}<br>
        </select>
        <button type="submit" class="button">Submit</button>
        </form>
  </article>

  <article>
    <header>
      <h3>Password change</h3>
    </header>
    <section class="content">
    <div>
        <form method="post" action="/admin/user/password_change" id="pwchange">
        User:<input type="text" id="username" name="username" placeholder="Username" value="{{.User}}" size="12">
        Password:<input type="password" id="password" name="password" placeholder="Password" size="12">
        {{.Token}}
        <button type="submit" class="button">Change Users Password</button>
        </form>
    </div>
    </section>
    <footer>
    </footer>
  </article>

  <article>
    <header>
      <h3>Delete user</h3>
    </header>
    <section class="content">
    <div>
        <form method="post" action="/admin/user/delete" id="userdelete">
        User:<input type="text" id="username" name="username" placeholder="Username" value="{{.User}}" size="12">
        {{.Token}}
        <button type="submit" class="button">Delete user</button>
        </form>
    </div>
    </section>
    <footer>
    </footer>
  </article>
  </main>
{{ end }}
