{{ define "title" }}<title>{{.SiteName}}|Admin User Panel</title>{{ end }}
{{ define "content" }}
<main>
<article>
    <header>Admin User Panel</header>
</article>    
  <article>  
    
        <h1>Editing User {{.User}}</h1>
        <br>
        <form method="post" action="/admin/user" id="user">
        <input type="hidden" name="token" value="{{.Token}}">
        <select name="user">
        User: {{range .Users }}
        <option value="{{.}}">{{.}}</option>
        {{ end }}<br>
        </select>
        <button class="stack" type="submit" class="button">Submit</button>
        </form>
  </article>

  <article>
    <header>
      <h3>Password change</h3>
    </header>
    <section class="content">
    <div>
        <form method="post" action="/admin/password_change" id="pwchange">
        User:<input class="stack" type="text" id="username" name="username" placeholder="Username" value="{{.User}}" size="12">
        Password:<input class="stack" type="password" id="password" name="password" placeholder="Password" size="12">
        <input type="hidden" name="token" value="{{.Token}}">
        <button class="stack" type="submit" class="button">Change Users Password</button>
        </form>
    </div>
    </section>
    <footer>
    </footer>
  </article>

  <article>
    <header>
      <h3>Delete user</h3>
    </header>
    <section class="content">
    <div>
        <form method="post" action="/admin/user_delete" id="userdelete">
        User:<input class="stack" type="text" id="username" name="username" placeholder="Username" value="{{.User}}" size="12">
        <input type="hidden" name="token" value="{{.Token}}">
        <button class="stack" type="submit" class="button">Delete user</button>
        </form>
    </div>
    </section>
    <footer>
    </footer>
  </article>
</main>
{{ end }}
