{{ define "title" }}Admin User Panel{{ end }}
{{ define "content" }}
  <ul class="tabs">
    <li class="tabs-title"><a href="/admin/"><i class="fa fa-lock" aria-hidden="true"></i> Main</a></li>
    <li class="tabs-title is-active"><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Manage Users</a></li>
    <li class="tabs-title"><a href="/admin/git"><i class="fa fa-git" aria-hidden="true"></i> Manage Git</a></li>
    <li class="tabs-title"><a href="/admin/config"><i class="fa fa-wrench" aria-hidden="true"></i> Manage Config</a></li>
  </ul> 
  <article>  
        <h2>Edit existing user:</h2>
        <form method="post" action="/admin/user" id="user">
        {{.Token}}
        <select name="user">
        User: {{range .Users }}
        <option value="{{.}}">{{.}}</option>
        {{ end }}<br>
        </select>
        <button type="submit" class="button">Submit</button>
        </form>
        <hr>
        <h2>Add new user:</h2>
        <form method="post" action="/auth/signup" id="signup">
        User:<input type="text" id="username" name="username" placeholder="Username" size="12">
        Password:<input type="password" id="password" name="password" placeholder="Password" size="12">
        {{.Token}}
        <button type="submit" class="button">Add User</button>
        </form>
    
  </article>
{{ end }}
