{{ define "title" }}Admin Panel{{ end }}

{{ define "content" }}
  <main>
    <ul class="tabs">
      <li class="tabs-title is-active"><a href="#">{{ svg "user-tie" }} Main</a></li>
      <li class="tabs-title"><a href="/admin/users">{{ svg "users" }} Manage Users</a></li>
      <li class="tabs-title"><a href="/admin/git">{{ svg "git-square" }} Manage Git</a></li>
      <li class="tabs-title"><a href="/admin/config">{{ svg "cog" }} Manage Config</a></li>
    </ul>  
    <ul>
      <li><a href="/admin/users">Manage Users</a></li>
      <li><a href="/admin/list">List all things</a></li>
    </ul>
  </main>
{{ end }}
