{{ define "title" }}Admin Panel{{ end }}

{{ define "content" }}
    <ul class="tabs">
      <li class="tabs-title is-active"><a href="#">{{ svg "user-tie" }} Main</a></li>
      <li class="tabs-title"><a href="/admin/users">{{ svg "users" }} Manage Users</a></li>
      <li class="tabs-title"><a href="/admin/git">{{ svg "git-square" }} Manage Git</a></li>
    </ul>  
    <ul>
      <li><a href="/admin/users">Manage Users</a></li>
    </ul>
    <div>
      App version: {{ .AppVersion }}
    </div>
{{ end }}
