{{ define "title" }}<title>{{.SiteName}}|Admin Git Panel</title>{{ end }}
{{ define "content" }}
<main>
<article>
    <header>Admin Git Panel</header>
</article>

  <ul class="tabs">
    <li class="tabs-title"><a href="/admin/"><i class="fa fa-lock" aria-hidden="true"></i> Main</a></li>
    <li class="tabs-title"><a href="/admin/users"><i class="fa fa-users" aria-hidden="true"></i> Manage Users</a></li>
    <li class="tabs-title is-active"><a href="#"><i class="fa fa-git" aria-hidden="true"></i> Manage Git</a></li>
    <li class="tabs-title"><a href="/admin/config"><i class="fa fa-wrench" aria-hidden="true"></i> Manage Config</a></li>
  </ul>
  <article>
        <h2>Push wikidata to remote Git repo:</h2>
        <p>Push wikidata to {{ .GitRemote }}?</p>
        <form method="post" action="/admin/git/push" id="git_push">
        {{.Token}}
        <button type="submit" class="button">Push</button>
        </form>
        <hr>

        <h2>Pull wikidata from remote Git repo:</h2>
        <p>Pull wikidata from {{ .GitRemote }}?</p>
        <form method="post" action="/admin/git/pull" id="git_pull">
        {{.Token}}
        <button type="submit" class="button">Pull</button>
        </form>
        <hr>

        <h2>Check files in:</h2>
        <p>The following files were found to be modified outside of the wiki:</p>
        {{ .GitFiles | safeHTML }}
        <form method="post" action="/admin/git/checkin" id="git_checkin">
        {{.Token}}
        <button type="submit" class="button">Check In</button>
        </form>
        <hr>

  </article>
</main>
{{ end }}
