{{ define "title" }}<title>{{.SiteName}}|Admin User Panel</title>{{ end }}
{{ define "content" }}
  <article>
    <header>Admin Panel</header>
  </article>
  <article>  
    <main>
        <ul>
        <li><a href="/admin/users">Manage Users</a></li>
        <li><a href="/admin/list">List all things</a></li>
        </ul>
    </main>
  </article>
{{ end }}
