{{ define "title" }}<title>{{ .PageTitle }} - {{.PageTitle }}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "sidebar_nav" . }}
{{ end }}
{{ define "content" }}     
<h1>Editing {{.PageTitle}}</h1>
<dl class="sub-nav">
  <dd><a href="/{{.Filename}}">Page</a></dd>
  <dd class="active"><a href="/edit/{{.Filename}}">Edit</a></dd>
</dl>
<hr />
{{$title := .PageTitle}}
<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="/edit/{{.Filename}}">Edit</a></li>
  <li class="tab-title"><a href="#panel2">Preview</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="panel1">
    <form action="/save/{{.Filename}}" method="POST">
    <textarea name="editor"></textarea>
    <button type="submit" class="button">Save Page</button>
    </form>
  </div>
  <div class="content" id="panel2">
    <div id="preview" class="tab-pane active">
  </div>
</div>

{{ end }}
{{ define "extra_scripts" }}
<script src="/s/js/commonmark.js"></script>
<script type="text/javascript" charset="utf-8">
 
var commonmark = window.commonmark;
var writer = new commonmark.HtmlRenderer();
var reader = new commonmark.Parser();
var textarea = $("#editor");
var initial_text = {{printf "%s" .Wiki.Content}};

document.getElementsByName("editor")[0].value = initial_text;

$(document).foundation(); 
$(document).foundation('tab', 'reflow');

$(function() {
    $('#panel2').on('toggled', function (event, tab) {
        //var parsed = reader.parse(document.getElementsByName("editor")[0].value);
        var editortxt = document.getElementsByName("editor")[0].value;
        var parsed = reader.parse(editortxt);
        var result = writer.render(parsed);  
        $("#preview").html(result);
        $(document).foundation();
        $(document).foundation('tab', 'reflow');
        //console.log("Tab: %s", tab);
        //console.log("Res: %s", result);
    });  
});

</script>
{{ end }}