{{ define "title" }}<title>{{ .PageTitle }} - {{.PageTitle }}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "sidebar_nav" . }}
    {{ template "sidebar_cats" . }}    
{{ end }}
{{ define "content" }}
<div class="panel callout radius">
<h1>{{.PageTitle}}</h1>
</div>
<ul class="breadcrumbs">
  <li><a href="/{{.Filename}}">Page</a></li>
  <li class="current"><a href="/edit/{{.Filename}}">Edit</a></li>
  <li><a href="#" data-reveal-id="previewModal">Preview</a></li>
</ul>
<hr />
{{$title := .PageTitle}}
<div>
  <form action="/save/{{.Filename}}" method="POST" id="savewiki">
  Title:<input type="text" name="title"><br>
  Tags:<input type="text" name="tags"><br>
  Note: private tag=private page.
  <textarea name="editor"></textarea>
  <input type="submit" class="button success" value="Submit">
  </form>
</div>
<div id="previewModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">{{.PageTitle }} - Preview</h2>
  <div id="preview" class="panel callout"></div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

{{ end }}
{{ define "extra_scripts" }}
<script src="/s/js/commonmark.js"></script>
<script type="text/javascript" charset="utf-8">
 
var commonmark = window.commonmark;
var writer = new commonmark.HtmlRenderer();
var reader = new commonmark.Parser();
var textarea = $("#editor");
var initial_text = {{printf "%s" .wiki.Content}};

document.getElementsByName("editor")[0].value = initial_text;

$(document).foundation(); 
//$(document).foundation('tab', 'reflow');
$(document).foundation('reveal', 'reflow');

$(document).on('open.fndtn.reveal', '[data-reveal]', function () {
    var editortxt = document.getElementsByName("editor")[0].value;
    var parsed = reader.parse(editortxt);
    var result = writer.render(parsed);  
    $("#preview").html(result);
});

</script>
{{ end }}