{{ define "title" }}{{ .Title }}{{ end }}
{{ define "content" }}
  <ul class="tabs">
    <li class="tabs-title is-active"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>View Page</a></li>
  </ul>

  <main>
      {{.TheHTML}}
  </main>
{{ end }}