{{ define "title" }}{{ .Title }}{{ end }}
{{ define "content" }}
  <ul class="tabs">
    <li class="tabs-title is-active"><a href="#">{{ svg "eye" }} View</a></li>
  </ul>

  <main>
      {{.TheHTML}}
  </main>
{{ end }}