{{ define "title" }}<title>{{.page.SiteName}}|Check In Files?</title>{{ end }}
{{ define "content" }}
<main>
<article>
  <header>{{.page.SiteName}}</header>
</article>  
<article>  
    <p>The following files were found to be modified outside of the wiki:</p>
    {{.GitFiles | safeHTML}}
    <hr>
    <p>Would you like to check them in now?</p>
  <form method="post">
    {{.Token}}
    <button type="submit" class="button">Yes</button>
  </form>
</article>
</main>
{{ end }}