{{ define "title" }}Check In Files?{{ end }}
{{ define "content" }}
    <p>The following files were found to be modified outside of the wiki:</p>
    {{.GitFiles | safeHTML}}
    <hr>
    <p>Would you like to check them in now?</p>
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ .Token }}">
    <button type="submit" class="button">Yes</button>
  </form>
{{ end }}