{{ define "title" }}<title>{{.page.SiteName}}|History of {{ .Filename }}</title>{{ end }}
{{ define "content" }}
<article class="card">
  <header>
    <h1>History of {{ .Filename }}</h1>    
  </header>
  <footer>
    <a href="/{{.Filename}}" class="pseudo button wikibutton"><i class="material-icons">visibility</i>View</a>
    <a href="/{{.Filename}}/edit" class="pseudo button wikibutton"><i class="material-icons">edit</i>Edit</a>
    <a href="#" class="button wikibutton"><i class="material-icons">history</i>History</a>
  </footer>  
</article>

<article class="card">
  <footer>
    <table>
    <thead>
        <tr>
        <th width="200">Link</th>
        <th width="250">Date</th>
        <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {{range .FileHistory}}
        <tr>
            <td><a href="/{{.Filename}}?commit={{.Commit}}">{{.Commit}}</a></td>
            <td>{{ .Date|prettyDate }}</td>
            <td>{{ .Message }}</td>
        </tr>  
        {{ end }}
    </table>
  </footer>
</article>
{{ end }}