{{ define "title" }}<title>{{.page.SiteName}}|History of {{ .Filename }}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "sidebar_nav" . }}
    {{ template "login_form" . }}
{{ end }}
{{ define "content" }}
<ul class="breadcrumbs">
  <li><a href="/{{.Filename}}">{{ .Filename }}</a></li>
  <li><a href="/{{.Filename}}/edit">Edit</a></li>
  <li class="current"><a href="/{{.Filename}}/history">History</a></li>
</ul>
<div class="panel callout radius">
  <h1>History of {{ .Filename }}</h1>
</div>
<div class="panel radius">
<table>
  <thead>
    <tr>
      <th width="200">Link</th>
      <th width="250">Date</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    {{range .FileHistory}}
    <tr>
        <td><a href="/{{.Filename}}/{{.Commit}}">{{.Commit}}</a></td>
        <td>{{ .Date|prettyDate }}</td>
        <td>{{ .Message }}</td>
    </tr>  
    {{ end }}
</div>
{{ end }}