{{ define "title" }}<title>{{.page.SiteName}}|Index</title>{{ end }}
{{ define "content" }}
<article class="card">
  <header>
    <h1>{{.page.SiteName}}</h1>    
  </header>
  <footer>
    Welcome to my wiki.
  </footer>    
</article>
</div>
{{ end }}