{{ define "title" }}List{{ end }}
{{ define "content" }}
    <table>
    <thead>
        <tr>
        <th>Filename</th>        
        <th>Created</th>
        <th>Modified</th>
        <th>Permission</th>
        </tr>
    </thead>
    <tbody>
    {{ $user := .UserInfo.IsLoggedIn }}
    {{ $admin := .UserInfo.IsAdmin }}
    {{range .Wikis}}
        <tr>
        <td><a href="/{{.Filename}}">{{.Type | typeIcon }} {{.Filename}}</a></td>
        <td>{{.CreateTime | prettyDate}}</td>
        <td>{{.ModTime | prettyDate}}</td>    
        <td>{{.Permission}}</td>            
        </tr>
    {{ end }}    
    </tbody>
    </table>    
{{ end }}