{{ define "title" }}<title>{{.Data.SiteName}}|Login - {{.Title}}</title>{{ end }}
{{ define "content" }}
<main>
  <article>
    <header>Login</header>
  </article>
  
  <article>
        <form method="post" action="/auth/login" id="login">
        <input type="text" id="username" name="username" placeholder="Username" size="12">
        <input type="password" id="password" name="password" placeholder="Password" size="12">
        {{.Data.Token}}
        <button type="submit" class="button">Login</button>
        </form>
  </article>
</main>
{{ end }}
