{{ define "title" }}<title>{{.page.SiteName}}|Login - {{.Title}}</title>{{ end }}
{{ define "content" }}
<main>
  <article>
    <header>Login</header>
  </article>
  
  <article>
        <form method="post" action="/auth/login" id="login">
        <input class="stack" type="text" id="username" name="username" placeholder="Username" size="12">
        <input class="stack" type="password" id="password" name="password" placeholder="Password" size="12">
        <input type="hidden" name="token" value="{{.Token}}">
        <button class="stack" type="submit" class="button">Login</button>
        </form>
  </article>
</main>
{{ end }}
{{ define "extra_scripts" }}
<script src="/assets/js/jquery.min.js"></script>
<!-- this will include every plugin and utility required by Foundation -->
<script src="/assets/js/foundation.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).foundation();
</script>
{{ end }}