{{ define "title" }}<title>{{.page.SiteName}}|Login - {{.Title}}</title>{{ end }}
{{ define "content" }}
<div class="panel callout radius">     
  <h1>Login</h1>
</div>
<div class="panel">
  {{ template "login_form" . }}
</div>
{{ end }}