{{ define "title" }}<title>{{.page.SiteName}}|Commit of {{ .PageTitle }}</title>{{ end }}
{{ define "content" }}
<link rel="stylesheet" href="/assets/css/diff2html.min.css">
<article class="card">
  <header>
    <h1>{{.PageTitle}}@{{.Commit}}</h1>
  </header>
  <footer>
    <a href="/{{.Filename}}" class="pseudo button wikibutton"><i class="material-icons">visibility</i></a>
    <a href="/{{.Filename}}/edit" class="pseudo button wikibutton"><i class="material-icons">edit</i></a>
    <a href="/{{.Filename}}/history" class="pseudo button wikibutton"><i class="material-icons">history</i></a>
    <a href="#" class="button wikibutton"><i class="material-icons">undo</i></a>
  </footer>  
</article>

<article class="card">
  <header>
    <p>Filename:<span class="info label">{{ .Filename }}</span> Private:<span class="info label">{{ .IsPrivate }}</span> 
    Tags:<span class="info label">{{ .frontmatter.Tags }}</span></p>
    <p>Created:<span class="info label">{{ .CreateTime | prettyDate }}</span> Last Modified:<span class="info label">{{ .ModTime | prettyDate }}</span></p>    
  </header>
  <footer>
    <div class="tabs two">
    <input id='tab-1' type='radio' name='tabgroupB' checked />
    <label class="pseudo button toggle" for="tab-1">File at Commit</label>
    <input id='tab-2' type='radio' name='tabgroupB'>
    <label class="pseudo button toggle" for="tab-2">Commit Diff</label>
    <div class="row">
        <div>
        <article class="card">
        {{.wiki.Rendered | safeHTML}}
        </article>
        </div>

        <div id="diff">
        <article class="card">
        <code>{{.Diff | safeHTML}}</code>
        </article>
        </div>
    </div>
    </div>
  </footer>
</article>


{{ end }}