{{ define "title" }}<title>{{.page.SiteName}}|{{ .PageTitle }}</title>{{ end }}
{{ define "content" }}
<article class="card">
  <header>
    <h1>{{.PageTitle}}</h1>    
  </header>
  <footer>
    <a href="#" class="button wikibutton"><i class="material-icons">visibility</i>View</a>
    <a href="/{{.Filename}}/edit" class="pseudo button wikibutton"><i class="material-icons">edit</i>Edit</a>
    <a href="/{{.Filename}}/history" class="pseudo button wikibutton"><i class="material-icons">history</i>History</a>
  </footer>    
</article>

<article class="card">
  <header>
    <p>Filename:<span class="info label">{{ .Filename }}</span> Private:<span class="info label">{{ .IsPrivate }}</span> Favorite:<span class="info label">{{ .frontmatter.Favorite }}</span>
    Tags:<span class="info label">{{ .frontmatter.Tags }}</span></p>
    <p>Created:<span class="info label">{{ .CreateTime | prettyDate }}</span> Last Modified:<span class="info label">{{ .ModTime | prettyDate }}</span></p>    
  </header>
  <footer>
    {{.wiki.Rendered | safeHTML}}
  </footer>
</article>
{{ end }}
