{{ define "title" }}<title>{{ .Wiki.Title }} - {{.Wiki.Title }}</title>{{ end }}
{{ define "sidebar" }}
    {{ template "sidebar_nav" . }}
    {{ template "sidebar_cats" . }}
{{ end }}
{{ define "content" }}     
<h1>{{ .Wiki.Title }}</h1>
{{$title := .Wiki.Title}}
<h2>{{ .Frontmatter.Tags }}</h2>
<h2>{{ .Frontmatter.Created }}</h2>
<h2>{{ .Frontmatter.LastModTime }}</h2>
<hr />
<div>
{{.Wiki.Content | safeHTML}}
</div>
{{ end }}
