{{ define "title" }}Recent Activity{{ end }}
{{ define "content" }}  
<main>
    <table>
    <thead>
        <tr>
        <th>Date</th>
        <th>Commit</th>
        <th>Filenames</th>
        </tr>
    </thead>
    <tbody>
    {{ $user := .UserInfo.IsLoggedIn }}
    {{ $admin := .UserInfo.IsAdmin }}
    {{range .Recents}}
        <tr>
        <td>{{.Date | prettyDate}}</td>
        <td>{{.Commit}}</td>
        <td>{{range .Filenames}}  <a href="/{{.}}">{{.}}</a>{{end}}</td>
        </tr>
    {{ end }}
    </tbody>
    </table>    
</main>
{{ end }}