{{ define "title" }}Tag: {{ .TagName }} {{ end }}
{{ define "content" }}
<ul class="tabs">
    <li class="tabs-title is-active"><a href="#">{{ svg "price-tag" }} {{ .TagName }}</a></li>
</ul>

  <main>
      <table>
      <thead>
          <tr>
          <th>Pages</th>
          </tr>
      </thead>
      <tbody>
      {{range .Results}}
          <tr>
              <td><a href="/{{ . }}">[{{ . }}]</a></td>
          </tr>
      {{ end }}
      </tbody>
      </table>
  </main>
{{ end }}