{{ define "title" }}Tag List{{ end }}
{{ define "content" }}
  <main>
      <table>
      <thead>
          <tr>
          <th>Tag</th>
          <th>Pages</th>
          </tr>
      </thead>
      <tbody>
      {{range $index, $element := .TagKeys}}
          <tr>
              <td>{{ $index }}</td>
              <td>{{ range $element }}<a href="/{{ . }}"> {{ . }} </a> {{ end }}</td> 
          </tr>
      {{ end }}
      </tbody>
      </table>
  </main>
{{ end }}