{{ define "title" }}<title>{{.page.SiteName}}|Tag List</title>{{ end }}
{{ define "content" }}
<main>
  <article>
  <header>>List of Wiki Tags</header>
  </article>    
  <article>
      <table>
      <thead>
          <tr>
          <th>Tag</th>
          <th>Pages</th>
          </tr>
      </thead>
      <tbody>
      {{range $index, $element := .TagKeys}}
          <tr>
              <td>{{ $index }}</td>
              <td>{{ range $element }}<a href="/{{ . }}"> {{ . }} </a> {{ end }}</td> 
          </tr>
      {{ end }}
      </tbody>
      </table>
  </article>
</main>
{{ end }}