{{ define "title" }}<title>{{.page.SiteName}}|History of {{ .Filename }}</title>{{ end }}
{{ define "content" }}
<article class="card">
  <header>
    <h1>History of {{ .Filename }}</h1>    
  </header>
  <footer class="wiki-toolbar">
    <a href="/{{.Filename}}"><button data-tooltip="View Page" class="tooltip-top pseudobutton"><i class="material-icons centericon">visibility</i></button></a>
    <a href="/{{.Filename}}/edit"><button data-tooltip="Edit Page" class="tooltip-top pseudobutton"><i class="material-icons centericon">edit</i></button></a>
    <a href="#"><button data-tooltip="Page History" class="tooltip-top"><i class="material-icons centericon">history</i></button></a>
    <button disabled><i class="material-icons centericon">undo</i></button>
  </footer>
</article>

<article class="card">
  <footer>
    <table>
    <thead>
        <tr>
        <th width="200">Link</th>
        <th width="250">Date</th>
        <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {{range .FileHistory}}
        <tr>
            <td><a href="/{{.Filename}}?commit={{.Commit}}">{{.Commit}}</a></td>
            <td>{{ .Date|prettyDate }}</td>
            <td>{{ .Message }}</td>
        </tr>  
        {{ end }}
    </table>
  </footer>
</article>
{{ end }}