{{ define "title" }}{{ .Wiki.Title }} ({{.Commit}}){{ end }}

{{ define "content" }}
<main>
  <ul class="tabs">
    <li class="tabs-title is-active"><a href="#">{{ svg "file-text2" }} View</a></li>
    <li class="tabs-title"><a href="/{{.Wiki.Filename}}">{{ svg "file-text2" }} View page @ HEAD</a></li>
    <li class="tabs-title"><a href="/history/{{.Wiki.Filename}}">{{ svg "history" }} History</a></li>
  </ul>
  <ul data-tabs class="tabs sub" id="subtabs">
    <li class="tab-title"><a data-tabby-default class="tablinks is-active" id="content-tab" href="#content">Content</a></li>
    <li class="tab-title"><a class="tablinks" id="diff-tab" href="#diff">Diff</a></li>
  </ul>
  <div id="content" class="tabcontent">
    <div class="content">
      {{.Rendered | safeHTML}}
    </div>
  </div>
  <div id="diff" class="tabcontent">
    <div>
      <pre><code>{{.Diff}}</code></pre>
    </div>
  </div>
  <footer>
    <ul class="frontmatter">
      <li><p>Filename</p>
      <div class="stat">{{ .Wiki.Filename }}</div></li>
      <li><p>Permission</p>
      <div class="stat">{{ .Wiki.Frontmatter.Permission }}</div></li>
      <li><p>Favorite</p>
      <div class="stat">{{ if .Wiki.Frontmatter.Favorite }}{{svg "star-full"}}{{ else  }}{{svg "star-empty"}}{{ end }}</div></li>
      {{ if .Wiki.Frontmatter.Tags }}
      <li><p>Tags</p>
      <div class="stat">
      <ul class="tags">
      {{ range .Wiki.Frontmatter.Tags }}<li>{{ . }}</li>{{ end }}
      </ul>
      </div></li>
      {{ end }}
    </ul>
    <ul>
      <li>Created: {{ .Wiki.CreateTime | prettyDate }}</li>
      <li>Last Modified: {{ .Wiki.ModTime | prettyDate }}</li>
    </ul>
  </footer>
</main>
{{ end }}
{{ define "extra_scripts" }}
<!--<script src="/assets/js/tabs.js"></script>-->
<script src="/assets/js/tabby.polyfills.min.js"></script>
<script src="/assets/js/my-tabby.js"></script>
{{ end }}