{{ define "title" }}<title>{{.page.SiteName}}|Editing {{ .PageTitle }}</title>{{ end }}
{{ define "content" }}
<link rel="stylesheet" href="/assets/css/tagdog.css">
<article>
  <header>Editing {{.PageTitle}}</header>
</article>

<ul class="tabs">
  <li><a href="/{{.Filename}}"><i class="material-icons centericon">visibility</i>View Page</a></li>
  <li><a href="#" class="is-active"><i class="material-icons centericon">edit</i>Edit Page</a></li>
  <li><a href="/{{.Filename}}?a=history"><i class="material-icons centericon">history</i>Page History</a></li>
</ul>

<article>
  <main>
    <form action="/{{.Filename}}?a=save" method="POST" id="savewiki">
    Title:<input type="text" name="title" value="{{.Title}}">
    <div>
    {{ if .Favorite }}
        <label class="label-switch">Favorite:<input type="checkbox" name="favorite" checked /><div class="checkbox"></div></label>
    {{ else }}
        <label class="label-switch">Favorite:<input type="checkbox" name="favorite" /><div class="checkbox"></div></label>
    {{ end }}
    {{ if .Private }}
        <label class="label-switch">Users Only:<input type="checkbox" name="private" checked /><div class="checkbox"></div></label>
    {{ else }}
        <label class="label-switch">Users Only:<input type="checkbox" name="private" /><div class="checkbox"></div></label>
    {{ end }}
    {{ if .Admin }}
        <label class="label-switch">Admin Only:<input type="checkbox" name="admin" checked /><div class="checkbox"></div></label>
    {{ else }}
        <label class="label-switch">Admin Only:<input type="checkbox" name="admin" /><div class="checkbox"></div></label>
    {{ end }}    
    </div>
    <br>
    <div class="tag-field">
        <label for="tags">Tags</label>
        <input type="text" id="tags" name="tags" placeholder="Separate tags with commas" value="{{ .Tags|jsTags }}" />
    </div>
    <input type="hidden" name="token" value="{{.Token}}"> 
    <textarea name="editor" id="wikieditor"></textarea>
    <div class="stack">
        <input type="submit" class="button-success" value="Submit">
        <label for="preview_modal" id="preview" class="button-dangerous">Preview</label>
    </div>
    </form>
  </main>
</article>

<div class="modal">
  <input id="preview_modal" type="checkbox" />
  <label for="preview_modal" class="overlay"></label>
    <article>
        <header>{{.PageTitle }} - Preview</header>
          <label for="preview_modal" class="close">&times;</label>
        <main class="content" id="preview_content">
        </main>
        <label for="preview_modal" class="button-dangerous">
            Close
        </label>
    </article>
</div>

{{ end }}
{{ define "extra_scripts" }}
<script src="/assets/js/commonmark.js"></script>
<script src="/assets/js/tagdog.min.js"></script>
<!--<script src="/assets/js/jquery.tagsinput.min.js"></script>-->
<script type="text/javascript" charset="utf-8">
 
/*$('#tags').tagsInput({
   'height':'3rem',
   'width':'100%',
});
*/

(function() {
    "use strict";
    var tagFields = tagdog('.tag-field');
    console.log(tagFields);
}).call(this);

var commonmark = window.commonmark;
var writer = new commonmark.HtmlRenderer();
var reader = new commonmark.Parser();
var textarea = document.getElementById("editor");
var initial_text = {{printf "%s" .wiki.Content}};

document.getElementsByName("editor")[0].value = initial_text;


document.getElementById("preview").onclick = function() {
    var editortxt = document.getElementsByName("editor")[0].value;
    var parsed = reader.parse(editortxt);
    var result = writer.render(parsed);
    document.getElementById("preview_content").innerHTML=result;
};



</script>
{{ end }}