{{ define "title" }}<title>{{.page.SiteName}}|History of {{ .Filename }}</title>{{ end }}
{{ define "content" }}
<main>
    <article>
        <header>History of {{ .Filename }}</header>
    </article>    

    <ul class="tabs">
    <li class="tabs-title"><a href="/{{.Filename}}"><i class="fa fa-eye" aria-hidden="true"></i>View Page</a></li>
    <li class="tabs-title"><a href="/{{.Filename}}?a=edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Page</a></li>
    <li class="tabs-title is-active"><a href="#"><i class="fa fa-history" aria-hidden="true"></i>Page History</a></li>
    </ul>

    <article>
        <table>
        <thead>
            <tr>
            <th>Link</th>
            <th>Date</th>
            <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {{range .FileHistory}}
            <tr>
                <td><a href="/{{.Filename}}?commit={{.Commit}}">{{.Commit}}</a></td>
                <td>{{ .Date|prettyDate }}</td>
                <td>{{ .Message }}</td>
            </tr>  
            {{ end }}
        </table>
    </article>
</main>
{{ end }}