{{ define "title" }}<title>{{.page.SiteName}}|Commit of {{ .Wiki.Title }}</title>{{ end }}
{{ define "content" }}
<link rel="stylesheet" href="/assets/css/diff2html.min.css">
<main>
  <article>
    <header>{{.Wiki.Title}}@{{.Commit}}</header>
    <div class="stats">
      <ul>
        <li><p>Filename</p>
        <div class="stat">{{ .Wiki.Filename }}</div></li>
        <li><p>Public</p>
        <div class="stat">{{ .Wiki.Frontmatter.Public }}</div></li>
        <li><p>Favorite</p>
        <div class="stat">{{ .Wiki.Frontmatter.Favorite }}</div></li>
        <li><p>Tags</p>
        <div class="stat">{{ range .Wiki.Frontmatter.Tags }}<span class="warning label"><i class="fa fa-tag" aria-hidden="true"></i>{{ . }}</span>{{ end }}</div></li>
      </ul>
    </div>
  </article>

  <ul class="tabs">
    <li class="tabs-title"><a href="/{{.Wiki.Filename}}"><i class="fa fa-eye" aria-hidden="true"></i>View Page</a></li>
    <li class="tabs-title"><a href="/edit/{{.Wiki.Filename}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Page</a></li>
    <li class="tabs-title"><a href="/history/{{.Wiki.Filename}}"><i class="fa fa-history" aria-hidden="true"></i>Page History</a></li>
    <li class="tabs-title is-active"><a href="#"><i class="fa fa-code-fork" aria-hidden="true"></i>View Page Commit</a></li>
  </ul>  

  <article class="accordion" data-accordion>
      <ul class="breadcrumbs">
        <li><a href="/{{.Wiki.Filename}}">{{.Wiki.Title}}</a></li>
        <li>
          <span class="show-for-sr">Current: </span> commit:{{.Commit}}
        </li>
      </ul>
      <div id="content" class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title">Content</a>
        <div class="accordion-content" data-tab-content>
          {{.Rendered | safeHTML}}
        </div>
      </div>
      <div id="diff" class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Diff</a>
        <div class="accordion-content" data-tab-content>
          <pre><code>{{.Diff}}</code></pre>
        </div>
      </div>
    <footer>
      <ul>
        <li>Created: {{ .Wiki.CreateTime | prettyDate }}</li>
        <li>Last Modified: {{ .Wiki.ModTime | prettyDate }}</li>
      </ul>
    </footer>
  </article>
</main>
{{ end }}
{{ define "extra_scripts" }}
<script src="/assets/js/jquery.min.js"></script>
<!-- this will include every plugin and utility required by Foundation -->
<script src="/assets/js/foundation.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).foundation();
</script>
{{ end }}