{{ define "title" }}<title>{{.page.SiteName}}|Create {{ .Wiki.Title }}?</title>{{ end }}
{{ define "content" }}
<main>
  <article>
    <header>Create {{.Wiki.Title}}?</header>
  </article>

  <ul class="tabs">
    <li><a href="#" class="is-active"><i class="material-icons centericon">visibility</i>View Page</a></li>
    <li><a href="#"><i class="material-icons centericon">edit</i>Edit Page</a></li>
    <li><a href="#"><i class="material-icons centericon">history</i>Page History</a></li>
  </ul>

  <article>
      There's no existing page named '{{.Wiki.Filename}}'.<br>
      Would you like to <a href="/{{.Wiki.Filename}}?a=edit">create a page named '{{.Wiki.Filename}}'</a>?
        <footer>
        </footer>
  </article>
</main>
{{ end }}