{{ define "title" }}Create {{ .Wiki.Title }}?{{ end }}
{{ define "content" }}
  <ul class="tabs">
    <li class="tabs-title is-active"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>Create Page</a></li>
    <li class="tabs-title"><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Page</a></li>
    <li class="tabs-title"><a href="#"><i class="fa fa-history" aria-hidden="true"></i>Page History</a></li>
  </ul>

  <main>
      There's no existing page named '{{.Wiki.Filename}}'.<br>
      Would you like to <a href="/edit/{{.Wiki.Filename}}">create a page named '{{.Wiki.Filename}}'</a>?
        <footer>
        </footer>
  </main>
{{ end }}