{{ define "title" }}{{ .Wiki.Title }}{{ end }}
{{ define "header_title" }}
{{ .Wiki.Title }}
  {{ if .UserInfo.Username }}
    <a href="/fav/{{.Wiki.Filename}}">{{ if .Wiki.Frontmatter.Favorite }}{{svg "star-full"}}{{ else  }}{{svg "star-empty"}}{{ end }}</a>
  {{ else }}
    {{ if .Wiki.Frontmatter.Favorite }}{{svg "star-full"}}{{ else  }}{{svg "star-empty"}}{{ end }}
  {{ end }}
{{ end }}        
{{ define "content" }}
  <ul class="tabs">
    <li class="tabs-title is-active"><a href="#">{{ svg "file-text2" }} View</a></li>
    <li class="tabs-title"><a href="/edit/{{.Wiki.Filename}}">{{svg "pencil"}} Edit</a></li>
    <li class="tabs-title"><a href="/history/{{.Wiki.Filename}}">{{svg "history"}} History</a></li>
  </ul>

  <main>
    {{.Rendered | safeHTML}}
    <hr>
    <footer>
      {{ if .SimilarPages }}
        Similar Pages: {{ range .SimilarPages }}<a href="{{.}}">{{.}}</a> {{ end }}
      {{ end }}
      <ul class="frontmatter">
        <li><p>Filename</p>
        <div class="stat">{{ .Wiki.Filename }}</div></li>
        <li><p>Permission</p>
        <div class="stat">{{ .Wiki.Frontmatter.Permission }}</div></li>
        <li><p>Favorite</p>
        <div class="stat">
          {{ if .Wiki.Frontmatter.Favorite }}{{svg "star-full"}}{{ else  }}{{svg "star-empty"}}{{ end }}
        </div></li>
        {{ if .Wiki.Frontmatter.Tags }}
        <li><p>Tags</p>
        <div class="stat">
        <ul class="tags">
        {{ range .Wiki.Frontmatter.Tags }}<li>{{ . }}</li>{{ end }}
        </ul>
        </div></li>      
        {{ end }}
      </ul>
      <ul>
        <li>Created: {{ .Wiki.CreateTime | prettyDate }}</li>
        <li>Last Modified: {{ .Wiki.ModTime | prettyDate }}</li>
      </ul>
    </footer>
  </main>
{{ end }}