{{ define "title" }}<title>{{.page.SiteName}}|{{ .PageTitle }}</title>{{ end }}
{{ define "content" }}
<style>
 section section article {
   border-top-left-radius: 0;
 }
</style>

<main>
  <article>
    <header>{{.PageTitle}}</header>
    <div class="stats">
      <ul>
        <li>{{ .Filename }}<span>Filename</span></li>
        <li>{{ .frontmatter.Private }}<span>Private</span></li>
        <li>{{ .frontmatter.Favorite }}<span>Favorite</span></li>
        <li>{{ range .frontmatter.Tags }}<span class="badge-alert">{{ . }}</span>{{ end }}<span>Tags</span></li>
      </ul>
    </div>
  </article>

  <ul class="tabs">
    <li><a href="#" class="is-active"><i class="material-icons centericon">visibility</i>View Page</a></li>
    <li><a href="/{{.Filename}}?a=edit"><i class="material-icons centericon">edit</i>Edit Page</a></li>
    <li><a href="/{{.Filename}}?a=history"><i class="material-icons centericon">history</i>Page History</a></li>
  </ul>

  <article>
      {{.wiki.Rendered | safeHTML}}
        <footer>
          <ul>
            <li>Created: {{ .CreateTime | prettyDate }}</li>
            <li>Last Modified: {{ .ModTime | prettyDate }}</li>
          </ul>
        </footer>
  </article>
</main>
{{ end }}