{{ define "title" }}<title>{{.page.SiteName}}|Editing {{ .Wiki.Title }}</title>{{ end }}
{{ define "content" }}
<link rel="stylesheet" href="/assets/css/tagdog.css">
<main>
    <article>
        <header>Editing {{.Wiki.Title}}</header> 
    </article>
              
        <ul class="tabs">
        <li class="tabs-title"><a href="/{{.Wiki.Filename}}"><i class="fa fa-eye" aria-hidden="true"></i>View Page</a></li>
        <li class="tabs-title is-active"><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Page</a></li>
        <li class="tabs-title"><a href="/history/{{.Wiki.Filename}}"><i class="fa fa-history" aria-hidden="true"></i>Page History</a></li>
        </ul>
    

    <article>
        <form action="/save/{{.Wiki.Filename}}" method="POST" id="savewiki">
        Title:<input type="text" name="title" value="{{.Wiki.Frontmatter.Title}}">
        {{ if .Wiki.Frontmatter.Favorite }}
            <div class="switch tiny">
            Favorite:<input class="switch-input" id="favorite" type="checkbox" name="favorite" checked>
            <label class="switch-paddle" for="favorite">
                <span class="show-for-sr">Favorite</span>
            </label>
            </div>
        {{ else }}
            <div class="switch tiny">
            Favorite:<input class="switch-input" id="favorite" type="checkbox" name="favorite">
            <label class="switch-paddle" for="favorite">
                <span class="show-for-sr">Favorite</span>
            </label>
            </input>
        {{ end }}
        {{ if .Wiki.Frontmatter.Public }}
            <div class="switch tiny">
            Public Page:<input class="switch-input" id="publicPage" type="checkbox" name="publicPage" checked>
            <label class="switch-paddle" for="publicPage">
                <span class="show-for-sr">Public Page</span>
            </label>
            </div>
        {{ else }}
            <div class="switch tiny">
            Public Page:<input class="switch-input" id="publicPage" type="checkbox" name="publicPage">
            <label class="switch-paddle" for="publicPage">
                <span class="show-for-sr">Public Page</span>
            </label>
            </div>
        {{ end }}
        {{ if .Wiki.Frontmatter.Admin }}
            <div class="switch tiny">
            Admin Only:<input class="switch-input" id="adminOnly" type="checkbox" name="adminOnly" checked>
            <label class="switch-paddle" for="adminOnly">
                <span class="show-for-sr">Admin Only</span>
            </label>
            </div>
        {{ else }}
            <div class="switch tiny">
            Admin Only:<input class="switch-input" id="adminOnly" type="checkbox" name="adminOnly">
            <label class="switch-paddle" for="adminOnly">
                <span class="show-for-sr">Admin Only</span>
            </label>
            </div>
        {{ end }}
        <div class="tag-field">
            <label for="tags">Tags</label>
            <input type="text" id="tags" name="tags" placeholder="Separate tags with commas" value="{{ .Wiki.Frontmatter.Tags|jsTags }}" />
        </div>
        <input type="hidden" name="token" value="{{.page.Token}}"> 
        <textarea name="editor" id="wikieditor"></textarea>
        <div class="button-group">
            <a data-open="previewModal" id="preview" class="button">Preview</a>
            <button type="submit" class="success button">Submit</button>
        </div>
        </form>
    </article>
</main>

<div class="full reveal" id="previewModal" data-reveal>
    <h2>Preview:</h2>
    <article class="content" id="preview_content"></article>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>    

{{ end }}
{{ define "extra_scripts" }}
<script src="/assets/js/commonmark.js"></script>
<script src="/assets/js/tagdog.min.js"></script>
<script type="text/javascript" charset="utf-8">
 
/*$('#tags').tagsInput({
   'height':'3rem',
   'width':'100%',
});
*/

$(document).foundation();

(function() {
    "use strict";
    var options = {
        hiddenFieldSuffix: '_all'
    }    
    var tagFields = tagdog('.tag-field', options);
}).call(this);

var commonmark = window.commonmark;
var writer = new commonmark.HtmlRenderer();
var reader = new commonmark.Parser();
var textarea = document.getElementById("editor");
var initial_text = {{printf "%s" .Wiki.Content}};

document.getElementsByName("editor")[0].value = initial_text;


document.getElementById("preview").onclick = function() {
    var editortxt = document.getElementsByName("editor")[0].value;
    var parsed = reader.parse(editortxt);
    var result = writer.render(parsed);
    document.getElementById("preview_content").innerHTML=result;
};



</script>
{{ end }}