{{ define "title" }}<title>{{.page.SiteName}}|{{ .Wiki.Title }}</title>{{ end }}
{{ define "content" }}
<main>
  <header>
    <h1>{{.Wiki.Title}}</h1>
    <ul>
      <li><p>Filename</p>
      <div class="stat">{{ .Wiki.Filename }}</div></li>
      <li><p>Public</p>
      <div class="stat">{{ .Wiki.Frontmatter.Public }}</div></li>
      <li><p>Favorite</p>
      <div class="stat">{{ .Wiki.Frontmatter.Favorite }}</div></li>
      <li><p>Tags</p>
      <div class="stat">
      {{ if .Wiki.Frontmatter.Tags }}
      {{ range .Wiki.Frontmatter.Tags }}<span class="warning label"><i class="fa fa-tag" aria-hidden="true"></i>{{ . }}</span>{{ end }}
      </div></li>
      {{ else }}
      <span class="warning label"><i class="fa fa-tag" aria-hidden="true"></i></span>
      {{ end }}
    </ul>
  </header>

<small>Created: {{ .Wiki.CreateTime | prettyDate }}<br>
Last Modified: {{ .Wiki.ModTime | prettyDate }}</small>

  <ul class="tabs">
    <li class="tabs-title is-active"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>View Page</a></li>
    <li class="tabs-title"><a href="/edit/{{.Wiki.Filename}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit Page</a></li>
    <li class="tabs-title"><a href="/history/{{.Wiki.Filename}}"><i class="fa fa-history" aria-hidden="true"></i>Page History</a></li>
  </ul>

  <article>
      {{.Rendered | safeHTML}}
        <footer>
          <ul>
            <li>Created: {{ .Wiki.CreateTime | prettyDate }}</li>
            <li>Last Modified: {{ .Wiki.ModTime | prettyDate }}</li>
          </ul>
        </footer>
  </article>
</main>
{{ end }}