{{ define "base" }}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]--> 
<html class="no-js" lang="en" >
<head>
  {{ template "title" . }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Gowiki">
  <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
  <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
  <link rel="stylesheet" href="/assets/css/picnic.min.css">
  <link rel="stylesheet" href="/assets/css/my.picnic.css">
  <link rel="stylesheet" href="/assets/material-icons/material-icons.css">
  <script src="/assets/js/jquery.js"></script>
 </head>
<body>
<nav class="top-bar">
    <a class="brand" href="/">
        <span>My Site</span>
    </a>
    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button">menu</label>
    <div class="menu" id="navmenu">
        <div class="mainmenu">
            <a href="#" class="pseudo button topbutton">Demo</a>
            <a href="#" class="pseudo button topbutton">Plugins</a>
            {{ template "usernav" .}}
        </div>    
        <div class="newmenu">
            <form method="post" action="/new" id="newwiki">
                <label><i class="material-icons">note_add</i></label>
                <input type="text" placeholder="New wiki page..." id="newwiki" name="newwiki">
                <button type="submit">Go!</button>   
            </form>
        </div>
    </div>    
</nav>


<main id="primary">
  <section class="sidebar">
    <article class="card navcard">
    <header>
        <h3><a href="/">Wiki</a></h3>
    </header>
    <footer>    
        {{ template "sidebar" .}}
    </footer>
    </article>
  </section>
  <section class="body">
    {{ template "content" . }}
  </section>
</main>

<div class="modal">
  <input id="alert_modal" type="checkbox" />
  <label for="alert_modal" class="overlay"></label>
    <article id="alerts">
        <!--<header>
        <h3>Great offer</h3>
        <label for="alert_modal" class="close">&times;</label>
        </header>
        <section class="content">
        We have a special offer for you. I am sure you will love it! However this does look spammy...
        </section>
        <footer>
        <a class="button" href="#">See offer</a>
        <label for="alert_modal" class="button dangerous">
            Cancel
        </label>
        </footer>-->
    </article>
</div>

<div class="modal" id="login-form">
  <input id="login_modal" type="checkbox" />
  <label for="login_modal" class="overlay"></label>
  <article>
    <header>
      <h3>Login</h3>
      <label for="login_modal" class="close">&times;</label>
    </header>
    <section class="content">
    <form method="post" action="/login" id="login">
    <input type="text" id="username" name="username" placeholder="Username" size="12">
    <input type="password" id="password" name="password" placeholder="Password" size="12">
    <input type="hidden" name="token" value="{{.Token}}">
    </section>
    <footer>
      <button type="submit" class="button">Login</button>
        </form>
      <label for="login_modal" class="button dangerous">
        Cancel
      </label>
    </footer>
  </article>
</div>

<footer>
</footer>
  <script src="/assets/js/my.js"></script>
  {{ template "extra_scripts" . }}
</body>
</html>
{{ end }}
{{ define "extra_scripts" }}{{ end }}
