{{ define "base" }}
<!DOCTYPE html>
<html lang="en" >
<head>
  <title>{{ template "title" . }}|{{ .SiteName }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Gowiki">
  <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
  <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
  <link rel="stylesheet" href="/assets/css/wiki.css">
</head>
<body>
  <nav>
      {{ block "sidebar" . }}
      {{ end }}
  </nav>
    {{ .FlashMsg }}
  <header>
    <h1>{{ block "header_title" . }}{{ end }}</h1>
    <div class="searchwiki">
      <form method="POST" action="/search" id="searchwiki">
        <div class="input-wrapper">
            <input type="text" placeholder="Search" id="searchwiki" name="searchwiki">
            {{.Token}}
            <button type="submit">{{ svg "search" }}</button>
        </div>
      </form> 
    </div>    
  </header>
  
  <main>
    {{ block "content" . }}{{ end }}
  </main>
{{ end }}

{{ define "footer" }}
    <footer>
    Render time: {{.}}
    </footer>
{{ end }}

{{ define "bottom" }}
  <script src="/assets/js/notif.js"></script>
  {{ block "extra_scripts" . }}{{ end }}
  </body>
  </html>
{{ end }}

{{ define "header_title" }}
{{ template "title" . }}
{{ end }}