{{ define "bottom" }}
  <script type="text/javascript" charset="utf-8">
  function notif() {
    document.getElementById('notification').style.display = 'none';
  }
  </script>
  {{ template "extra_scripts" . }}
  </body>
  </html>
{{ end }}
{{ define "extra_scripts" }}{{ end }}