{{ define "sidebar" }}
<fieldset class="fieldset">
  <legend>{{ svg "menu" }}Menu</legend>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/list">List</a></li>
    {{ if .UserInfo.Username }}
      <li><a href="/recent">Recent Activity</a></li>
      <li><a href="/tags">Tags</a></li>
    {{ end }}
</ul>
</fieldset>

{{ if .UserInfo.Username }}
  <fieldset class="fieldset">
    <legend>{{ svg "star-empty" }}Favorite Pages</legend>
  <ul>
  {{range .Favs}}
  <li><a href="/{{ . }}">{{ . }}</a></li>
  {{end}}
  </ul>
  </fieldset>
  <fieldset>
    <legend>{{ svg "git-square" }}Git Status</legend>
  <ul>
    <li>{{ .GitStatus }}</li>
  </ul>
  </fieldset>
{{end}}

    {{ template "usernav" .}}
{{ end }}