{{ define "sidebar" }}
<fieldset class="fieldset">
  <legend>Wiki</legend>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/list">List</a></li>
    <li><a href="/tags">Tags</a></li>
    <li><a href="/gitadd">Git Add</a></li>
</ul>
</fieldset>
<fieldset class="fieldset">
  <legend>Favs</legend>
<ul>
{{range .page.Favs}}
<li><a href="/{{.}}">{{.}}</a></li>
{{end}}
</ul>
</fieldset>

<form method="GET" action="/new" id="newwiki">
  <div class="input-wrapper">
      <input type="text" placeholder="Add page" id="newwiki" name="newwiki">
      {{.Token}}
      <button type="submit" class="success button"><i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>
</form>

<form method="POST" action="/search" id="searchwiki">
  <div class="input-wrapper">
      <input type="text" placeholder="Search" id="searchwiki" name="searchwiki">
      {{.Token}}
      <button type="submit" class="success button"><i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
</form> 

    {{ template "usernav" .}}
{{ end }}