{{ define "sidebar" }}
<article class="card stack">
<a class="stack button" href="/">Home</a>
<a class="stack button" href="/list">List</a>
</article>
<span><h4>Favorites:</h4></span>
<article class="card stack">
{{range .page.Favs}}
<a class="stack button catbutton" href="/{{.}}">{{.}}</a>
{{end}}
</article>
{{ end }}