{{ define "sidebar_nav" }}
        <hr />
        <ul class="side-nav">
          <li><a href="/"><span>Home</span></a></li>
          <li><a href="/list"><span>List</span></a></li>
        </ul>
        <div id="newwiki">
          <form method="post" action="/new" id="newwiki">
            <input type="text" id="newwiki" name="newwiki" class="form-control" placeholder="New Page Name" size="8">
            <button class="btn btn-default" type="submit">New</button>
          </form>
        </div>     
{{ end }}