{{ define "sidebar_cats" }}
        <hr />
        <ul class="side-nav" id="sidecats">
        {{range .page.Cats}}
        <li><a href="/{{.}}"><span>{{.}}</span></a></li>
        {{end}}        
        </ul>
{{ end }}