{{ define "usernav" }}
<br>
<ul>
    
{{ if .UN }}
    <li><i class="material-icons centericon">person</i>{{ .page.UN }}|{{ .page.Role }}<br></li>
    <li><a href="/auth/logout">Logout</a></li>
    {{ if .page.Role|isAdmin }}    
        <li><a href="/admin">Admin Panel</a></li>
    {{ end }}    
{{ else }}
<li><a href="/login">Login</a></li>
<li><a href="/signup">Sign Up</a></li>
{{ end }}
</ul>
{{ end }}