{{ define "usernav" }}
<div class="usernav">
<h5><i class="fa fa-user" aria-hidden="true"></i>User: {{ if .UN }}<span><small>(logged in as {{ .page.UN }})</small></span>{{ end }}</h5> 
<hr>
<ul>
{{ if .UN }}
    <li><a href="/auth/logout">Logout</a></li>
    {{ if .page.IsAdmin }}    
        <li><a href="/admin">Admin Panel</a></li>
    {{ end }}    
{{ else }}
<li><a href="/login">Login</a></li>
{{ end }}
</ul>
</div>
{{ end }}