{{ define "usernav" }}
<div class="usernav">
<fieldset class="fieldset">
  <legend><i class="fa fa-user" aria-hidden="true"></i>User: {{ if .Data.UN }}<span><small>(logged in as {{ .Data.UN }})</small></span>{{ end }}</legend>
<ul>
{{ if .Data.UN }}
    <li><a href="/auth/logout">Logout</a></li>
    {{ if .Data.IsAdmin }}    
        <li><a href="/admin">Admin Panel</a></li>
    {{ end }}
    <li>{{ .Data.GitStatus }}</li>
{{ else }}
<li><a href="/login">Login</a></li>
{{ end }}
</ul>
</fieldset>
</div>
{{ end }}