body {
  display: flex;
  flex-flow: row; }
  body > nav {
    flex: 1 6 20%;
    order: 1; }
  body > section {
    flex: 3 1 80%;
    order: 2; }
    body > section > main > header {
      display: flex;
      flex-flow: row wrap; }
      body > section > main > header h1 {
        flex: 1 5 20%;
        order: 3; }
      body > section > main > header ul {
        flex: 1 5 40%;
        display: inline-flex;
        flex-flow: row nowrap;
        margin: 0;
        order: 4; }
      body > section > main > header li {
        border-right: 1px solid #cacaca;
        white-space: nowrap;
        list-style-type: none; }
        body > section > main > header li p {
          margin-bottom: 5px; }
      body > section > main > header li:first-child {
        border-left: 1px solid #cacaca; }

@media all and (max-width: 640px) {
  body {
    flex-direction: column; } }
