.sidebar
{
  max-width:12rem;
  float: left;
}

#primary {
    padding-top: 3.5em;
    display: flex;
    color: #333;
    background-color: #252839;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 5;
}

/* Per github scss, default picnic-breakpoint is 60em 
   seems reasonable, no reason to change, so just extending it 
   Currently making body collapse under sidebar, and pretty up navbar  */
@media screen and (max-width : 60em){
    #primary {
        display: block;
    }
    .sidebar {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #navmenu {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;    
    }
    .topbutton {
        display: block;
    }
    nav .mainmenu {
        float: none !important;
        white-space: normal;
    }
    label.button {
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;          
    }
}

html {
    background-color: #252839;
}

.body {
    max-width: 1200px;
    padding-left: 1rem;
    float: left;
    width: 100%;
}

.mainwiki
{
  z-index: 20;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.top-bar {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding-bottom: 0.4rem;
    background-color: #263238;
    color: #ccc;
}

nav .brand {
    color: #ccc;
}

nav .mainmenu
{
	float:left;
	position:relative;
}

#navmenu {
    white-space: nowrap;
}

nav .newmenu
{
    white-space: nowrap;
	float:left;
	position:relative;
    padding-right: 8rem;
    max-width: 20rem;
}

nav .usermenu
{
	float:right;
	position:relative;
}

#wikieditor {
    min-height: 20rem;
}

#navmenu .button {
    color: #ccc;
}

#navmenu .button:hover,
.button:active,
.button:focus {
    color: #ccc;
    background: #82b1ff;
}

.card {
  /*z-index: 5;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}

.stack:last-child, .stack:last-child .toggle {
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

.wikibutton {
    font-size: 0.8rem;
}

.catbutton,
.catbutton:hover,
.catbutton:active,
.catbutton:focus {
    font-size: .75em;
    background: #ccc;
}