/* Add a scrollbar regardless of content length, so top nav doesn't jump around */
html {
    overflow-y: scroll;
    background-color: #252839;
}

.body {
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    width: auto;
    min-width: 70%;
}

.sidebar
{
  max-width:12rem;
  float: left;
}

#primary {
    padding-top: 3.5em;
    display: flex;
    color: #333;
    background-color: #252839;
    width: 100%;
    height: 100%;
    margin: 0;
}

.listtable {
    width: auto;
}

/* Make View/Edit/History buttons show up as tabs */
.wikitoolbar {
    position: relative;
    display: block;
}
.wikitoolbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wikitoolbar li {
    display: inline-block;
    border: solid;
    border-width: 1px 1px 0 1px;
    border-top-left-radius: .2em;
    border-top-right-radius: .2em;
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
    background: #bbb;   
}

.wikitoolbar li a {
    margin: 0;
    padding-left: 0.3em;
    padding-right: 0.3em;
    display: block;
    width: 100%;
    height: 100%;
}

.wikitoolbar li.selected a {
    color: #000;
}

.wikitoolbar li.selected, li.selected:hover {
    z-index: 2;
    background: #fff;
    border-bottom-color: #fff;
}

.wikitoolbar li:hover {
    background: #cff;
    z-index: 2;
}

.wikitoolbar:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #000;
  z-index: 1;    
}

.wikitoolbar:before {
    z-index: 1;
}

.wikicontent {
    border-top-width: 0px;
}

.centericon {
    vertical-align: middle;
}

.pseudobutton {
    background: transparent;
    color: #111;
    transition: all 0.3s;
    box-shadow: 0 0 transparent inset;    
}

.wiki-toolbar {
    display: block;
}

.wiki-metadata {
    white-space: nowrap;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.newwiki {
    vertical-align: middle;
}


/* Per github scss, default picnic-breakpoint is 60em 
   seems reasonable, no reason to change, so just extending it 
   Currently making body collapse under sidebar, and pretty up navbar  */
@media screen and (max-width : 60em){
    .body {
        min-width: 100%;
    }
    #primary {
        display: block;
    }
    .sidebar {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #navmenu {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;    
    }
    .topbutton {
        display: block;
    }
    nav .mainmenu {
        float: none !important;
        white-space: normal;
    }
    label.button {
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;          
    }
}

.mainwiki
{
  z-index: 20;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.top-bar {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding-bottom: 0.4rem;
    background-color: #263238;
    color: #ccc;
}

nav .brand {
    color: #ccc;
}

nav .mainmenu
{
	float:left;
	position:relative;
}

#navmenu {
    white-space: nowrap;
}

nav .newmenu
{
    white-space: nowrap;
	float:left;
	position:relative;
    padding-right: 8rem;
    max-width: 20rem;
}

nav .usermenu
{
	float:right;
	position:relative;
}

#wikieditor {
    min-height: 20rem;
}

#navmenu .button {
    color: #ccc;
}

#navmenu .button:hover,
.button:active,
.button:focus {
    color: #ccc;
    background: #82b1ff;
}

.card {
  /*z-index: 5;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}

.stack:last-child, .stack:last-child .toggle {
    border-bottom-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

.wikibutton {
    font-size: 0.8rem;
}

.catbutton,
.catbutton:hover,
.catbutton:active,
.catbutton:focus {
    font-size: .75em;
    background: #ccc;
}