body > header {
  grid-area: header;
}
body > header > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0 10px;
}
body > main {
  grid-area: content;
  background-color: black;
  color: white;
  padding: 0 10px;
}
body > nav {
  grid-area: nav;
}
body > footer {
  grid-area: footer;
  text-align: center;
  font-size: 80%;
}

body > main > footer {
  text-align: right;
  color: #8a8a8a;
}

body > main > footer > ul {
    list-style-type: none;
}

.stat {
  color: #8a8a8a;
}

body > header > ul > li > p {
  font-size: 120%;
  margin: 0;
}

.tabs {
  grid-area: tabs;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-self: end;
  display: flex;
  flex-direction: column;
}

.tabs li {
  padding: 5px;
  margin: 0;
  float: left;  
  background-color: black;
}

body {
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas: 
    "header"
    "nav"
    "tabs"
    "content"
    "footer";
}

@media (min-width: 768px) {
  body {
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
      "nav    header"
      "nav    tabs"
      "nav    content"
      "nav    footer";
  }
  body > nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  body > header ul {
    display: flex;
    flex-direction: row;
  }
  .tabs {
    display: block;
  }
  .tabs li {
    margin: 0 10px 0 0;
  }
}

/*
@media (min-width: 700px) {
  body {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "nav header  header"
      "nav    content content"
      "nav    content content"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}
*/