Source: gowiki
Section: web
Priority: optional
Maintainer: aqtrans <aqtrans@jba.io>
Homepage: https://git.jba.io/go/wiki

Package: gowiki
Architecture: amd64
Depends: git, libc6, adduser
Description: Simple wiki, using git to record and store the wiki pages. Written in Golang.
 Gowiki is a simple git-powered wiki, written in Golang. 
 It's inspired heavily by gitit, storing all wiki pages in a git repo.